<form (ngSubmit)="onSubmit()" [formGroup]="myForm" ngNativeValidate>
  Tuh: <input type="text" formControlName='tuhin' required minlength="5">
  <br/>
  Wor: <input type="text" formControlName="world">
  <br/>
  <button type="submit">Submit</button>

</form>
<!--[disabled]="!myForm.valid"-->

<form #mF="ngForm">
  <input type="text" name="f1" ngModel>
  
</form>

<form #mF2="ngForm">
  <input type="text" name="f1" ngModel>
  
</form>



<button (click)="someF(mF,mF2)">Click Me Massa</button>